<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/semantic.min.css">
    {{{meta}}}
</head>
<body id="app">
<div id="main"></div>
<script type="application/json" id="config">{{{clientConfig}}}</script>
</body>
</html>