@import "reset";
@import "theme";

body {
  background-color: $secondary-color;
  color: $text-color;
  font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  width: 100%;

  @media all and (max-width: 500px) {
    font-size: 12px;
  }
}

h2, h3 {
  font-weight: 700;
  margin-bottom: $spacing-v;
}

a {
  color: inherit;
  text-decoration: none;
}

#app {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
